################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CloudDeploymentS1/.vs/CloudDeploymentS1
/CloudDeploymentS1/CloudDeploymentS1/bin/Debug/netcoreapp3.1
/CloudDeploymentS1/CloudDeploymentS1/obj
